#refer{style: "background-image: #{Setting.additional_image.present? ? 'url(' + asset_url(Setting.additional_image.url) + ');' : 'auto'}"}
	.col-md-5.col-md-offset-1.col-sm-6.hidden-xs.refer-left
	.col-md-5.col-sm-6.col-xs-12
		#copy
			%h3 Don't leave your friends behind 
			%h1 Invite friends & Earn product

		%input.form-control{value: "#{@user.referral_url(root_url)}"}
		%p Share your unique link via emails or social networks and earn prizes for each friend who signs up.

		= render partial: "social_sharing"


%aside.text-center
	%h4
		%strong= pluralize(@user.number_of_referrals, 'friend')
		%span have joined so far. 

- if Prize.all.any?
	%section#prizes
		.progressbar{style: "width: #{@user.progress * 100}%"}
			.progress-box
		= render partial: "prizes/prize_item", collection: Prize.all.order("number_of_referrals asc"), as: :prize

%footer#footer
	%p All rights reserved 
	= link_to "Privacy Policy", privacy_path, remote: true