!!!
%html{:itemscope => "", :itemtype => "http://schema.org/Article"}
  %head

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = render "layouts/meta"

    :css
      #prizes .prize {width: #{100.fdiv(Prize.all.count)}%;}
      @media screen and (max-width: 767px){#prizes .prize {width: 100%;}}

  %body
    - if flash[:notice]
      .alert.alert-success{role: "alert"}
        = flash[:notice]
    - if flash[:alert]
      .alert.alert-danger{role: "alert"}
        = flash[:alert]
    %section#content-wrapper

      %main#content
        = yield